.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    
    width: 70px;
    padding: 25px;
  }
  .logo {
    height: 60px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
    }
  }
  .profile {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;

    .logout-btn {
      min-width: 65px;
      width: auto;
      height: 40px;
      font-size: 15px;
      text-transform: uppercase;
      font-family: "Open Sans Condensed";
      font-weight: bolder;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgb(14, 0, 0);
        color: rgb(253, 246, 246);
        border: 1px solid black;
      }
    }
  }
}
