.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(144, 208, 238, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: rgb(19, 17, 17);
  font-weight: 800;
}
